/**
 * Truv Brand Color Palette
 * CSS Custom Properties
 */

:root {
  /* Primary Colors */
  --truv-primary-blue: #2C64E3;
  --truv-dark-blue: #0F1C47;

  /* Neutral Colors */
  --truv-black: #171717;
  --truv-grey: #F4F4F2;
  --truv-white: #FFFFFF;

  /* Accent Colors */
  --truv-light-blue: #C5D9F7;
  --truv-error-red: #F47F7F;
}
